
@model microSQL.Models.TablaVista
@{
    ViewBag.Title = "microSQL";
}
<body>
    <div>
        <h2>microSQL</h2>
    </div>
    <div style="column-count:2;">
        <div style="width:500px;height:250px;overflow:auto;background-color:lightgray;">
            <h2>Object Explorer</h2>
            <br />
            <ul style="list-style-type:none;">
                @foreach (var item in microSQL.Controllers.HomeController.tablas)
                {
                    <li>
                        <b style="color:darkblue;">@item.nombreTabla</b>
                        <ul style="list-style-type:none;">
                            @foreach (var columna in item.columnas)
                            {
                                <li>@columna</li>
                            }
                        </ul>
                    </li>
                }
            </ul>
        </div>
        <br />
        <div>
            @using (Html.BeginForm())
            {
                @Html.TextArea("texto", microSQL.Controllers.HomeController.textoInstrucciones, new { style = "width:500px; height:250px;" })
                @*<textarea name="textarea" style="width:500px;height:250px;"></textarea>*@
                <input type="submit" value="Go" />
            }
        </div>
        <br>
        <p style="color:red">
            @microSQL.Controllers.HomeController.mensaje
        </p>
    </div>
    <br />

    <!-- Tabla -->

    <div class="jumbotron">
        @if (Model.nombreTabla != null && Model.columnas != null)
        {
            <h2>@Model.nombreTabla</h2>

            <br />

            <table class="table">
                <tr>

                    @foreach (var item in Model.columnas)
                    {
                        <th>
                            @item
                        </th>
                    }
                </tr>

                @if (Model.filasSeleccionadas != null)
                {

                    foreach (var item in Model.filasSeleccionadas)
                    {
                        <tr>
                            @foreach (var item2 in item)
                            {
                                <th>
                                    @item2
                                </th>
                            }
                        </tr>
                    }

                }

            </table>
        }
    </div>
</body>