
@model microSQL.Models.TablaVista
@{
    ViewBag.Title = "microSQL";
}
<head>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Droid+Sans+Mono" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    @Styles.Render("~/Colores/jquery.highlight-within-textarea.css")
    @Scripts.Render("~/Colores/jquery.highlight-within-textarea.js")

    <style>

        .hwt-container {
            background-color: #f8f9fa;
        }

        .hwt-content {
            width: 760px;
            height: 100px;
            padding: 20px;
            border: 1px solid #adb5bd;
            color: inherit;
            font: 18px/25px 'Droid Sans Mono', sans-serif;
        }

        .hwt-input:focus {
            outline-color: #495057;
        }

        .hwt-content mark {
            border-radius: 3px;
            background-color: #d0bfff;
        }

            .hwt-content mark.red {
                background-color: #ffc9c9;
            }

            .hwt-content mark.blue {
                background-color: #a3daff;
            }

            .hwt-content mark.yellow {
                background-color: #ffec99;
            }

    </style>
</head>

<body>
    <div>
        <h2>microSQL</h2>
    </div>
    <div style="column-count:2;">
        <div style="width:500px;height:250px;overflow:auto;background-color:lightgray;">
            <h2>Object Explorer</h2>
            <br />
            <ul style="list-style-type:none;">
                @foreach (var item in microSQL.Controllers.HomeController.tablas)
                {
                    <li>
                        <b style="color:darkblue;">@item.nombreTabla</b>
                        <ul style="list-style-type:none;">
                            @foreach (var columna in item.columnas)
                            {
                                <li>@columna</li>
                            }
                        </ul>
                    </li>
                }
            </ul>
        </div>
        <br />
        <div>

            
            @using (Html.BeginForm())
            {
                @Html.TextArea("texto", microSQL.Controllers.HomeController.textoInstrucciones, new { @class = "class-example", style = "width:500px; height:250px;" })
                <input type="submit" value="RUN" />

                <script>
                    $('.class-example').highlightWithinTextarea({
                        highlight: [
                            {
                                highlight: 'INT',
                                className: 'red'
                            },
                            {
                                highlight: 'VARCHAR(100)',
                                className: 'red'
                            },
                            {
                                highlight: 'DATETIME',
                                className: 'red'
                            },
                            {
                                highlight: 'PRIMARY KEY',
                                className: 'red'
                            },
                            {
                                highlight: 'CREATE TABLE',
                                className: 'blue'
                            },
                            {
                                highlight: 'SELECT',
                                className: 'blue'
                            },
                            {
                                highlight: 'VALUES',
                                className: 'blue'
                            },
                            {
                                highlight: 'DELETE FROM',
                                className: 'blue'
                            },
                            {
                                highlight: 'INSERT INTO',
                                className: 'blue'
                            },
                            {
                                highlight: 'FROM',
                                className: 'blue'
                            },
                            {
                                highlight: 'WHERE',
                                className: 'blue'
                            },
                            {
                                highlight: 'DROP TABLE',
                                className: 'blue'
                            },
                            {
                                highlight: 'UPDATE',
                                className: 'blue'
                            },
                            {
                                highlight: 'LIKE',
                                className: 'blue'
                            },
                            {
                                highlight: 'SET',
                                className: 'blue'
                            }

                        ]
                    });
                </script>
            }


        </div>
        <br>
        <!-- Mensaje de error -->
        <p style="color:red">
            @microSQL.Controllers.HomeController.mensaje
        </p>
    </div>
    <br />

    <!-- Tabla -->

    <div class="jumbotron">
        @if (Model.nombreTabla != null && Model.columnas != null)
        {
            <h2>@Model.nombreTabla</h2>

            <br />

            <table class="table">
                <tr>

                    @foreach (var item in Model.columnas)
                    {
                        <th>
                            @item
                        </th>
                    }
                </tr>

                @if (Model.filasSeleccionadas != null)
                {

                    foreach (var item in Model.filasSeleccionadas)
                    {
                        <tr>
                            @foreach (var item2 in item)
                            {
                                <th>
                                    @item2
                                </th>
                            }
                        </tr>
                    }

                }

            </table>
        }
    </div>
</body>
<input type="button"
       value="Exportar a JSON"
       onclick="location.href= '@Url.Action("exportarJSON", "Home" )'" %>
